body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgb(23, 12, 31);
}

.p1 {
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.titulo {
    color: rgb(111, 21, 146);
    letter-spacing: 4px;
}

nav {
    background-color: rgb(65, 61, 73);
    color: white;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
}

nav ul li a{
    margin-right: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.imagem-container {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 80%;           
}

.imagem-buraco {
    max-width: 80%;          
    height: auto;
}

.titulo_imagem {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 80px;
}

main {
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.planetas-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 80%;
    height: 80%;
    align-items: center;
}

.planetas-imagem{
    max-width: 100%;
    height: 220px; 
    object-fit: cover; 
    border-radius: 10px;
}

.div1 {
    padding: 20px;
    background-color: rgb(121, 121, 121);
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 20px
}

p {
    font-size: 20px;
    margin-left: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}